/* 
Tailwind setup
Some additional rules are stored in "tailwind.config.js", like colors, font and centering containers
*/

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* noto-serif-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/noto-serif-v21-latin-regular.ttf') format('truetype');
}

/* Adding base styles : rules for common selectors */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
    @apply text-heading;
  }
  /* Custom animations : used for the Modal component */
  .animate-opacity {
    animation: animOpacity 450ms ease-in-out both;
  }

  .animate-y {
    animation: animY 400ms 50ms ease-in-out both;
  }

  @keyframes animOpacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes animY {
    from {
      transform: translateY(-50px);
    }

    to {
      transform: translateY(0);
    }
  }
}
