/* 
Tailwind setup
Some additional rules are stored in "tailwind.config.js", like colors, font and centering containers
*/

/* Import Noto font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ddditional rules for common selectors */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
    @apply text-primary;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-base;
  }
}

/* Custom animations : used for the Modal component */
.animate-opacity {
  animation: animOpacity 450ms ease-in-out both;
}

.animate-y {
  animation: animY 400ms 50ms ease-in-out both;
}

@keyframes animOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animY {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}
